#board {
  &-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  &-list {
    display: flexbox;
    position: sticky;
    justify-content: center;
    align-items: center;
  }
  &-add-button {
    margin: 20px;
  }
}

.board {
  &-title {
    display: flex;
    padding: 10%;
    height: 80px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
  }
  &-element {
    text-align: center;
    margin: 20px;
    float: left;
    width: 190px;
    height: 140px;
    background-image: url('../assets/orange.png');
    border-radius: 3px;
  }
}
