@import './_card.scss';
.board {
  &-sidebar {
    &-nav {
      display: inline;
      min-width: 290px;
      div {
        background-color: #e4f0f6;
        padding: 5px;
        border-radius: 4px;
      }
    }
  }
  &-buttons {
    position: relative;
    top: 10px;
    float: right;
  }
  &-add-button {
    margin: 20px;
    display: inline-block;
  }

  &-title {
    div {
      position: relative;
      width: 80%;
      top: 4px;
      left: 4px;
      font-size: 17px;
      font-weight: 500;
      overflow: hidden;
    }
  }
  &-title-newform {
    text-align: center;
    position: relative;
    top: 10px;
    div {
      font-size: 17px;
      font-weight: 500;
    }
  }
  &-element {
    margin: 14px;
    margin-top: 20px;
    float: left;
    width: 193px;
    height: 96px;
    background-repeat: no-repeat;
    background-size: 200px 100px;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
  }
  &-el {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }
  &-el-newform {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.21);
    border-radius: 4px;
  }
  &-delete-button {
    background-image: url('/src/assets/img/delete-icon.png');
    background-repeat: no-repeat;
    background-size: 30px;
    height: 30px;
    width: 30px;
    align-items: center;
    float: right;

    opacity: 1;

    &:hover {
      opacity: 0.5;
    }
  }
  &-add-bt {
    &:hover {
      opacity: 0.5;
    }
  }
}
.workspace {
  display: inline-block;
  background-image: url('/src/assets/img/workspace.png');
  background-repeat: no-repeat;
  background-size: 25px;
  width: 35px;
  height: 25px;
}
.list-type {
  position: relative;
  left: 18px;
  h3 {
    display: inline-block;
    line-height: 24px;
    margin: 0px 0 0;
    font-size: 16px;
    font-weight: 700;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
#board {
  &-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    flex: 1 1 0%;
    overflow-y: auto;
  }
  &-sidebar {
    position: sticky;
    width: 240px;
    height: 700px;
    margin: 40px 0px 0px;
    a {
      color: #0079bf;
      font-size: 17px;
      font-weight: 700;
      min-width: 290px;
    }
  }
  &-list-container {
    @include container-sets();
    background-color: #f9fafc;
    margin: 40px 12px 0px;
    width: 100%;
    max-width: 825px;
    min-width: 288px;
  }
  &-list {
    justify-content: center;
    align-items: center;
    display: inline;
    width: 920px;
    height: 530px;
    overflow: auto;
    @media screen {
    }
  }
}
