.board {
  &-title {
    display: flex;
    padding: 10%;
    height: 80px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
  }
  &-element {
    text-align: center;
    margin: 20px;
    float: left;
    width: 190px;
    height: 140px;
    border: 1px solid;
    border-color: black;
    // background-image: url('../assets/orange.png');
    border-radius: 3px;
  }

  &-delete-button {
    float: right;
    background-color: #ebecf0;
    border: 0.5px solid;
    border-radius: 3px;
    border-top: 0px;
    border-right: 0px;
    color: black;
    &:hover {
      background-color: #b4b4b4;
    }
  }
}

#board {
  &-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  &-list {
    // position: sticky;
    justify-content: center;
    align-items: center;
  }
  &-add-button {
    margin: 20px;
  }
}
