#one-board {
  padding: 20px;
  width: auto;
  // white-space: nowrap;
}
.tag {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 20px;
  background-color: #ebecf0;
  width: 300px;
  height: 100%;
  border-radius: 6px;
  &-header {
    margin: 15px 0px 0px 0px;
    border-radius: 6px;
    padding: 0 0 0 20px;
    font-size: large;
    font-weight: 700;
    color: #172b4d;
    background-color: #ebecf0;
  }
  &-add-button {
    display: inline-block;
    vertical-align: top;
    margin: 0px 5px;
    input {
      display: block;
    }
  }
}

.card {
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  margin: 20px 10px;
  padding: 8px;
  box-shadow: 0 2px 0 rgba(9, 30, 66, 0.25);
  span {
    font-size: medium;
    color: #172b4d;
    margin-left: 3px;
    display: inline;
  }
  &-delete-button {
    margin: 0px 1px;
    // float: right;
  }
  .modal {
    margin: 0px 1px;
    // float: right;
  }
  &-labels {
    overflow: auto;
    position: relative;
    span {
      margin: 2px;
      padding: 1px, 2px;
      border-radius: 10px;
      float: left;
      width: 48px;
      height: 8px;
    }
  }
  &-buttons {
    margin: 2px;
    padding: 2px;
    position: relative;
  }
}

.new-card-form {
  margin: 10px;
  input {
    width: 98%;
    border-radius: 4px;
    box-shadow: 0 2px 0 rgba(9, 30, 66, 0.25);
  }
}
.add-button {
  margin-left: 10px;
  margin-bottom: 10px;
}

.drop-area {
  width: auto;
  height: auto;
  padding: 2px 0px;
  &.drop-area-hovered {
    background: #5abeff;
  }
}
//
