/* #board-container {
  text-align: center;
} */

body,
button,
html,
input,
select,
textarea {
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0px;
}
#header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#board-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
#board-title {
  display: flex;
  padding: 10%;
  height: 80px;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}
#board-list {
  display: flexbox;
  position: sticky;
  justify-content: center;
  align-items: center;
}
#board-element {
  text-align: center;
  margin: 20px;

  /* padding: 30px; */
  float: left;
  width: 190px;
  height: 140px;
  background-image: url('../assets/orange.png');
  border-radius: 3px;
}

.add-button {
  margin-left: 10px;
  margin-bottom: 10px;
}

.drop-area {
  padding: 28px;
  background: #ebecf0;
  border: 3px dashed orange;
  border-radius: 10px;
  margin-bottom: 16px;
}
.drop-area.drop-area-hovered {
  background: #f8ffb5;
}

.draggable-container {
  padding: 16px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  margin-bottom: 8px;
}
.draggable {
  padding: 8px;
  display: inline-block;
  background: #cefdea;
  border-radius: 4px;
  cursor: grab;
}

.dropped-item {
  display: block;
  background-color: #fff;
  margin: 10px;
}
