body,
html {
  color: #172b4d;
  background-color: #f9fafc;
  line-height: 20px;
  font-weight: 400;
  margin: 0px;
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
}

input,
button {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 3px;
  background-color: #fafbfc;
  border: 2px solid #dfe1e6;
  border-radius: 3px;
  margin: 3px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

form {
  display: inline;
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/src/api/bg-images/austin-distel-TluMvvrZ57g-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#header {
  background-color: #026aa7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-height: 40px;
  overflow: hidden;
  text-align: center;
  padding: 4px;
}

#header .menu-bar {
  width: 45%;
}

#header a {
  opacity: 1;
}

#header a:hover {
  opacity: 0.5;
}

#header .title {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

#header .title-image {
  background-image: url("/src/assets/img/title-logo.png");
  background-repeat: no-repeat;
  background-size: 120px;
  cursor: pointer;
  display: inline-block;
  height: 33px;
  width: 120px;
}

#header .header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

#header .header-buttons a {
  height: 31px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 31px;
  border-radius: 4px;
}

#header .header-buttons .home-button {
  display: inline-block;
  position: relative;
  top: 2px;
  background-image: url("/src/assets/img/home-icon.png");
  background-repeat: no-repeat;
  background-size: 25px;
  width: 25px;
  height: 25px;
}

#header .logout-bt {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  text-align: right;
}

.login-page {
  height: 100%;
  background-color: #f9fafc;
}

.login-header {
  background-color: #026aa7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 40px;
  overflow: hidden;
  text-align: center;
  padding: 4px;
}

.login-title-image {
  background-image: url("/src/assets/img/title-logo.png");
  background-repeat: no-repeat;
  background-size: 120px;
  display: inline-block;
  height: 33px;
  width: 120px;
}

.login-input {
  margin-top: 30px;
}

.login-container {
  background-color: #f9fafc;
  border-radius: 3px;
  padding: 25px 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
          box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
  height: 400px;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  top: 40px;
  text-align: center;
}

.login-container input {
  background-color: #edeff0;
  border: 2px solid #dfe1e6;
  border-radius: 4px;
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  font-family: '-apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  position: relative;
}

.login-container .submit {
  background-color: #61bd4f;
  width: 310px;
  height: 40px;
}

.login-container hr {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 370px;
}

#card-header {
  height: 50px;
}

#card-header-items {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#card-list-container {
  height: 95%;
  width: 100%;
}

#tag-all-list {
  white-space: nowrap;
  margin-bottom: 8px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 8px;
  top: 8px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 97%;
}

.tag-wrapper {
  width: 272px;
  margin: 10px 10px;
  height: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.tag {
  background-color: #ebecf0;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 90%;
  position: relative;
  white-space: normal;
  overflow-y: auto;
}

.tag-header {
  margin: 15px 0px 10px 0px;
  border-radius: 6px;
  padding: 0 0 0 20px;
  font-size: large;
  font-weight: 700;
  color: #172b4d;
  background-color: #ebecf0;
}

.tag-add-button {
  margin: 4px 7px;
}

.tag-add-button input {
  display: inline-block;
  margin: 2px;
  background-color: rgba(255, 255, 255, 0.5);
}

.tag-add-button button {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 3px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  margin: 3px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

.tag-add-button .tag-add-bt:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.card {
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  margin: 20px 10px;
  padding: 8px;
  -webkit-box-shadow: 0 2px 0 rgba(9, 30, 66, 0.25);
          box-shadow: 0 2px 0 rgba(9, 30, 66, 0.25);
  min-height: 40px;
}

.card-container {
  height: 100%;
  overflow-y: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  overflow-y: auto;
}

.card:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, #ef6678), to(#ec8c6a));
  background: linear-gradient(to right, #ef6678 1%, #ec8c6a 100%);
  color: #fff;
}

.card span {
  font-size: medium;
  color: #172b4d;
  margin-left: 3px;
  display: inline;
}

.card-delete-button {
  background-image: url("/src/assets/img/delete-icon.png");
  background-repeat: no-repeat;
  background-size: 30px;
  height: 30px;
  width: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
  opacity: 1;
}

.card-delete-button:hover {
  opacity: 0.5;
}

.card .modal {
  margin: 0px 1px;
}

.card .modal:hover {
  opacity: 0.5;
}

.card-title {
  display: inline-block;
  position: relative;
  top: 1px;
  left: 3px;
  font-size: 16px;
}

.card-labels {
  overflow: auto;
  position: relative;
  min-height: 8px;
}

.card-labels span {
  margin: 0px 2px 2px 2px;
  padding: 1px, 2px;
  border-radius: 10px;
  float: left;
  width: 48px;
  height: 8px;
}

.card-buttons {
  position: relative;
  bottom: 8px;
  margin: 2px;
  padding: 2px;
  float: right;
}

.new-card-form input {
  width: 93%;
}

.new-card-form button {
  margin: 0px 2px 10px 3px;
  background-color: rgba(255, 255, 255, 0.5);
}

.new-card-form button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.add-button {
  margin: 0px 5px 10px 5px;
}

.add-button button {
  margin: 0px;
  background-color: rgba(255, 255, 255, 0.5);
}

.add-button button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.drop-area {
  width: auto;
  max-height: 860px;
  padding: 2px 0px;
  margin: 5px 1px;
  overflow: scroll;
  border-radius: 3px;
}

.drop-area.drop-area-hovered {
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, #faf58c), to(#fafad2));
  background: linear-gradient(to right, #faf58c 1%, #fafad2 100%);
}

.board-sidebar-nav {
  display: inline;
  min-width: 290px;
}

.board-sidebar-nav div {
  background-color: #e4f0f6;
  padding: 5px;
  border-radius: 4px;
}

.board-buttons {
  position: relative;
  top: 10px;
  float: right;
}

.board-add-button {
  margin: 20px;
  display: inline-block;
}

.board-title div {
  position: relative;
  width: 80%;
  top: 4px;
  left: 4px;
  font-size: 17px;
  font-weight: 500;
  overflow: hidden;
}

.board-title-newform {
  text-align: center;
  position: relative;
  top: 10px;
}

.board-title-newform div {
  font-size: 17px;
  font-weight: 500;
}

.board-element {
  margin: 10px;
  margin-top: 20px;
  float: left;
  width: 193px;
  height: 96px;
  background-repeat: no-repeat;
  background-size: 200px 100px;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

.board-el {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.board-el-newform {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.21);
  border-radius: 4px;
}

.board-delete-button {
  background-image: url("/src/assets/img/delete-icon.png");
  background-repeat: no-repeat;
  background-size: 30px;
  height: 30px;
  width: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
  opacity: 1;
}

.board-delete-button:hover {
  opacity: 0.5;
}

.board-add-bt:hover {
  opacity: 0.5;
}

.workspace {
  display: inline-block;
  background-image: url("/src/assets/img/workspace.png");
  background-repeat: no-repeat;
  background-size: 25px;
  width: 35px;
  height: 25px;
}

.recent {
  display: inline-block;
  background-image: url("/src/assets/img/recent.png");
  background-repeat: no-repeat;
  background-size: 27px;
  width: 35px;
  height: 25px;
}

.list-type {
  position: relative;
  left: 18px;
}

.list-type h3 {
  display: inline-block;
  line-height: 24px;
  margin: 0px 0 0;
  font-size: 16px;
  font-weight: 700;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#board-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  overflow-y: auto;
}

#board-sidebar {
  position: -webkit-sticky;
  position: sticky;
  width: 240px;
  height: 700px;
  margin: 40px 0px 0px;
}

#board-sidebar a {
  color: #0079bf;
  font-size: 17px;
  font-weight: 700;
  min-width: 290px;
}

#board-list-container {
  background-color: #f9fafc;
  margin: 40px 15px 0px;
  width: 100%;
  max-width: 860px;
  min-width: 288px;
}

#board-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 288px;
  width: 860px;
  max-height: 700px;
  overflow: auto;
}

.modal-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.modal-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  overflow: auto;
  outline: 0;
}

.modal-inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: relative;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  background-color: #ebecf0;
  border-radius: 10px;
  width: 768px;
  height: 700px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0px auto;
  margin-top: 600px;
  padding: 30px 20px;
}

.modal-contents {
  float: left;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 24px;
  padding: 0 8px 8px 16px;
  position: relative;
  width: 470px;
  height: 80%;
  z-index: 0;
}

.modal-sidebar {
  background-color: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 0 rgba(9, 30, 66, 0.25);
          box-shadow: 0 2px 0 rgba(9, 30, 66, 0.25);
  float: right;
  padding: 0 16px 8px 8px;
  width: 210px;
  height: 80%;
  z-index: 10;
}

.modal-labels {
  overflow: auto;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

.modal-labels span {
  margin: 2px;
  padding: 2px 2px;
  border-radius: 4px;
  float: left;
  width: auto;
  min-width: 50px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 0 rgba(9, 30, 66, 0.25);
          box-shadow: 0 2px 0 rgba(9, 30, 66, 0.25);
}

.modal-close {
  float: right;
}

.label-modal,
.checkList-modal {
  display: block;
  position: relative;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border-radius: 5px;
  top: 50%;
  margin: 1px auto;
  padding: 25px 8px;
}

.checklist-container {
  padding: 10px;
  background-color: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 0 rgba(9, 30, 66, 0.25);
          box-shadow: 0 2px 0 rgba(9, 30, 66, 0.25);
}

.checklist-header h4 {
  margin: 0px 0px 5px 0px;
}

.checklist-header .progress-container {
  position: 'relative';
  margin-bottom: 6px;
}

.checklist-header .progress-percent {
  color: #5e6c84;
  font-size: 11px;
}

.checklist-header .progress-bar {
  overflow: hidden;
  position: relative;
  height: 8px;
  background-color: rgba(9, 30, 66, 0.08);
  border-radius: 50px;
}

.checklist-header .progress-percent-bar {
  height: 100%;
  background-color: #3333;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

.checklist-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checklist-item {
  margin-bottom: 10px;
}

.checklist-item-title {
  display: inline-block;
  width: 395px;
  margin-left: 10px;
}

.checklist-add-button input {
  display: block;
}

.checklist-add-button button {
  margin: 2px 1px 2px 0px;
}

.add-checklist-modal {
  margin: 2px 0px;
}

.add-card-label-button {
  margin: 2px 0px;
}

.label-modal {
  overflow: auto;
}

.label-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.label-el {
  color: #fff;
  display: inline-block;
  margin: 2px;
  width: 180px;
  height: 20px;
  padding: 3px;
  cursor: pointer;
  border-radius: 3px;
}

.label-el-colors {
  color: #fff;
  display: inline-block;
  margin: 1px;
  padding: 3px;
  width: 180px;
  height: 20px;
  cursor: pointer;
  border-radius: 3px;
}

.label-input-title {
  width: 175px;
  border-radius: 3px;
}

.log-button {
  display: inline-block;
}

.log-img {
  display: inline-block;
  background-image: url("/src/assets/img/logs.png");
  background-size: 28px;
  width: 29px;
  height: 28px;
  border-radius: 3px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.log-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 300px;
  height: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 0 12px 24px -6px rgba(9, 30, 66, 0.25);
          box-shadow: 0 12px 24px -6px rgba(9, 30, 66, 0.25);
  background-color: aliceblue;
  -webkit-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
  right: 0;
  background-color: #f4f5f7;
}

.log-container hr {
  position: relative;
  left: 15px;
  size: 10px;
  background-color: rgba(9, 30, 66, 0.13);
  border: 0;
  height: 1px;
  margin: 16px 0;
  padding: 0;
  width: 90%;
}

.log-header {
  width: 100%;
  text-align: center;
  height: 60px;
}

.log-header .log-close {
  vertical-align: top;
  position: relative;
  bottom: 50px;
  left: 145px;
  height: 30px;
  width: 30px;
  font-size: large;
}

.log-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.log-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.log-profile {
  background-image: url("/src/assets/img/profile.png");
  background-size: 35px;
  background-repeat: no-repeat;
  width: 40px;
  height: 35px;
  margin: 0px 15px;
}

.log-time {
  font-size: small;
}

.log-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 14px 15px;
}

.log-type span {
  display: inline-block;
  background-image: url("/src/assets/img/activity.png");
  background-size: 25px;
  background-repeat: no-repeat;
  width: 27px;
  height: 25px;
}

.log-type h4 {
  display: inline;
  margin: 0px 5px;
}
/*# sourceMappingURL=main.css.map */