body,
button,
html,
input {
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0px;
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

#header {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #026aa7;
  text-align: 'center';
}

#header-title:hover {
  color: aliceblue;
}

#login {
  text-align: center;
}

#login button {
  margin: 20px;
}

#board-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.board-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10%;
  height: 80px;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#board-list {
  display: flexbox;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.board-element {
  text-align: center;
  margin: 20px;
  /* padding: 30px; */
  float: left;
  width: 190px;
  height: 140px;
  background-image: url("../assets/orange.png");
  border-radius: 3px;
}

#board-add-button {
  margin: 20px;
}

#one-board {
  padding: 20px;
  white-space: nowrap;
}

.tag {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 20px;
  background-color: #ebecf0;
  width: 300px;
  height: 100%;
  border-radius: 6px;
}

.tag-header {
  margin: 15px 0px 0px 0px;
  border-radius: 6px;
  padding: 0 0 0 20px;
  font-size: large;
  font-weight: 700;
  color: #172b4d;
  background-color: #ebecf0;
}

.tag-add-button {
  display: inline-block;
  vertical-align: top;
  margin: 20px;
}

.tag-add-button input {
  display: block;
}

.card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  margin: 20px 10px;
  padding: 8px;
  -webkit-box-shadow: 0 2px 0 rgba(9, 30, 66, 0.25);
          box-shadow: 0 2px 0 rgba(9, 30, 66, 0.25);
}

.card span {
  font-size: medium;
  color: #172b4d;
  margin-left: 3px;
  display: inline;
}

.card-delete-button {
  margin: 0px 1px;
}

.card .modal {
  margin: 0px 1px;
}

.card-labels {
  overflow: auto;
  position: relative;
}

.card-labels span {
  margin: 2px;
  padding: 1px, 2px;
  border-radius: 10px;
  float: left;
  width: 48px;
  height: 8px;
}

.card-buttons {
  margin: 2px;
  padding: 2px;
  position: relative;
}

.new-card-form {
  margin: 10px;
}

.new-card-form input {
  width: 98%;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 0 rgba(9, 30, 66, 0.25);
          box-shadow: 0 2px 0 rgba(9, 30, 66, 0.25);
}

.add-button {
  margin-left: 10px;
  margin-bottom: 10px;
}

.drop-area {
  width: auto;
  height: auto;
  padding: 2px 0px;
}

.drop-area.drop-area-hovered {
  background: #5abeff;
}

.modal-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.modal-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
  outline: 0;
}

.modal-inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border-radius: 10px;
  width: 768px;
  height: 800px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0 auto;
  padding: 30px 20px;
}

.modal-contents {
  float: left;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 24px;
  padding: 0 8px 8px 16px;
  position: relative;
  width: 470px;
  height: 90%;
  z-index: 0;
}

.modal-sidebar {
  float: right;
  padding: 0 16px 8px 8px;
  width: 210px;
  height: 90%;
  z-index: 10;
}

.label-modal,
.checkList-modal {
  display: block;
  position: relative;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border-radius: 5px;
  top: 50%;
  margin: 1px auto;
  padding: 30px 20px;
}

.modal-labels {
  overflow: auto;
  position: relative;
}

.modal-labels span {
  margin: 2px;
  padding: 1px, 2px;
  border-radius: 10px;
  float: left;
  width: 48px;
  height: 8px;
}

.modal-close {
  float: right;
}
/*# sourceMappingURL=main.css.map */