body,
html {
  color: #172b4d;
  background-color: #f9fafc;
  line-height: 20px;
  font-weight: 400;
  height: 100%;
}

html {
  display: block;
  overflow: hidden;
}

body {
  margin: 0px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  outline: none;
}

input,
button {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 3px;
  background-color: #fafbfc;
  border: 0px;
  border-radius: 3px;
  margin: 3px;
  cursor: pointer;
}

input {
  -webkit-box-shadow: inset 0 0 0 2px #0079bf;
          box-shadow: inset 0 0 0 2px #0079bf;
}

a {
  text-decoration: none;
}

form {
  display: inline;
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

#header {
  background-color: #026aa7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-height: 40px;
  overflow: hidden;
  text-align: center;
  padding: 4px;
}

#header .menu-bar {
  width: 45%;
}

#header a {
  opacity: 1;
}

#header a:hover {
  opacity: 0.5;
}

#header .title {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

#header .title-image {
  background-image: url("/src/assets/img/title-logo.png");
  background-repeat: no-repeat;
  background-size: 133px;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  width: 120px;
  position: relative;
  bottom: 8px;
}

#header .header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

#header .header-buttons a {
  height: 31px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 31px;
  border-radius: 4px;
}

#header .header-buttons .home-button {
  display: inline-block;
  position: relative;
  top: 2px;
  background-image: url("/src/assets/img/home-icon.png");
  background-repeat: no-repeat;
  background-size: 25px;
  width: 25px;
  height: 25px;
}

#header .logout-bt {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  text-align: right;
}

#header .logout-bt button {
  border: 0;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
}

#header .logout-bt button:hover {
  opacity: 0.5;
}

.boardModal {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50px;
  height: 200px;
  position: fixed;
  top: 44px;
  right: 0;
  bottom: 0;
  left: 0;
}

.login-page {
  height: 100%;
  background-color: #f9fafc;
}

.login-header {
  background-color: #026aa7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 40px;
  overflow: hidden;
  text-align: center;
  padding: 4px;
}

.login-title-image {
  background-image: url("/src/assets/img/title-logo.png");
  background-repeat: no-repeat;
  background-size: 120px;
  display: inline-block;
  height: 33px;
  width: 120px;
}

.login-input {
  margin-top: 30px;
}

.login-container {
  background-color: #f9fafc;
  border-radius: 3px;
  padding: 25px 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
          box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
  height: 400px;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  top: 40px;
  text-align: center;
}

.login-container input {
  background-color: #edeff0;
  border: 2px solid #dfe1e6;
  border-radius: 4px;
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  font-family: '-apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  position: relative;
}

.login-container .submit {
  background-color: #61bd4f;
  width: 310px;
  height: 40px;
}

.login-container hr {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 370px;
}

.log-button {
  display: inline-block;
}

.log-img {
  display: inline-block;
  background-image: url("/src/assets/img/logs.png");
  background-size: 28px;
  width: 29px;
  height: 28px;
  border-radius: 3px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.log-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 300px;
  height: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 0 12px 24px -6px rgba(9, 30, 66, 0.25);
          box-shadow: 0 12px 24px -6px rgba(9, 30, 66, 0.25);
  background-color: aliceblue;
  -webkit-transition: width 0.1s ease-in;
  transition: width 0.1s ease-in;
  z-index: 3;
  background-color: #f4f5f7;
}

.log-container hr {
  position: relative;
  left: 15px;
  size: 10px;
  background-color: rgba(9, 30, 66, 0.13);
  border: 0;
  height: 1px;
  margin: 16px 0;
  padding: 0;
  width: 90%;
}

.log-header {
  width: 100%;
  text-align: center;
  height: 60px;
}

.log-header .log-close {
  vertical-align: top;
  position: relative;
  bottom: 50px;
  left: 145px;
  height: 30px;
  width: 30px;
  font-size: large;
}

.log-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.log-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.log-profile {
  background-image: url("/src/assets/img/profile.png");
  background-size: 35px;
  background-repeat: no-repeat;
  width: 40px;
  height: 35px;
  margin: 0px 15px;
}

.log-time {
  font-size: small;
}

.log-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 14px 15px;
}

.log-type span {
  display: inline-block;
  background-image: url("/src/assets/img/activity.png");
  background-size: 25px;
  background-repeat: no-repeat;
  width: 27px;
  height: 25px;
}

.log-type h4 {
  display: inline;
  margin: 0px 5px;
}
/*# sourceMappingURL=main.css.map */